@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10% 80% 10%;
      grid-template-rows: 10% 80% 10%;
}

header {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #152235;
  color: #FFF;
  position: static;
}

header .burger-logo {
  width: 1.7em;
  height: 1.7em;
}

header .burger-logo img {
  width: 1.7em;
  height: 1.7em;
}

header .filter-logo {
  width: 1.2em;
  height: 1.2em;
}

header .filter-logo img {
  width: 1.2em;
  height: 1.2em;
}

header .company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .company-logo img {
  width: 1.5em;
  height: 1.5em;
  padding: 0.5em;
}

header .company-logo h1 {
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.2em;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

main .container {
  border: 2px solid #eaeff2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45% 45% auto;
      grid-template-rows: 45% 45% auto;
  margin: 15px 15px 0px 15px;
}

main .container .image img {
  width: 100%;
  height: 100%;
}

main .container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .container .description h2 {
  font-size: 1.1em;
  font-weight: 600;
}

main .container .description h3 {
  font-size: 1.0em;
  font-weight: 400;
  color: #a6b6b6;
}

main .container .description hr {
  width: 1.5em;
  height: 0.2em;
  color: #06ca55;
  background-color: #06ca55;
  border: none;
}

main .container .description p {
  font-size: 0.8em;
  font-weight: 400;
  color: #a6b6b6;
}

main .container .info {
  background-color: #eaeff2;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .info p {
  font-size: 0.8em;
  font-weight: 500;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=style.css.map */